.checkbox {
	position: relative;
	&:not(:last-child) {
		margin-bottom: em(5);
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus + .checkbox__label:before {
			// box-shadow: 0 0 5px #000;
		}
		&:checked + .checkbox__label:before {
			content: "";
			background: url("@img/check.svg") center no-repeat;
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		position: relative;
		gap: 19px;

		&:before {
			content: "";
			align-self: flex-start;
			flex: 0 0 26px;
			width: 26px;
			height: 26px;
			border-radius: 5px;
			border: 1px solid $mainColor;
		}
	}
	// .checkbox__text
	&__text {
		color: $gray-300;

		span {
			color: $mainColor;

			&:active {
				color: $green-400;
			}

			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
