//<FORM>
// Снипет (HTML):

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type="date"]::before {
	content: attr(data-placeholder);
	width: 100%;
	color: $gray-300;
}

textarea.input {
	resize: none;
	padding: 0px 0px;
}

.span_all {
	grid-column: 1 / -1;
}

.form {
	padding: 70px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 30px;
	row-gap: 33px;
	background-color: $white-clr;
	border-radius: 50px;
	overflow: hidden;

	@media (max-width: $tablet) {
		padding: 60px;
		column-gap: 20px;
	}

	@media (max-width: $mobile) {
		grid-template-columns: 1fr;
		padding: 20px 20px 40px;
		border-radius: 30px;
	}

	&__group {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&__label {
	}

	&__input,
	&__select,
	&__textarea {
		border-radius: 10px;
		&:focus {
			border: 1px solid $gray-300;
			outline: 1px solid $gray-300;
		}
	}

	&__input,
	&__select {
		display: flex;
		align-items: center;
		height: 68px;
		padding: 20px;
		color: $mainColor;
		background-color: $beige-100;
		border: 1px solid $beige-200;

		@media (max-width: $mobile) {
			padding: 10px;
			height: 43px;
		}

		&::placeholder {
			@extend .p-normal;
			color: $gray-300;
		}

		@media (any-hover: hover) {
			&:hover {
				cursor: pointer;
			}
		}
	}

	&__textarea {
		height: 152px;
		padding: 20px;
		color: $mainColor;
		background-color: $beige-100;
		border: 1px solid $beige-200;

		@media (max-width: $mobile) {
			height: 132px;
		}
	}

	&__bottom-block {
	}

	&__radio {
	}

	&__checkbox {
	}

	&__btns {
		display: flex;
		gap: 30px;

		@media (max-width: $mobile) {
			gap: 10px;
		}
	}
}

//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
// @import "button";

// <INPUTS>
// Снипет (HTML): inp
// @import "input";

// <CHECK>
// Снипет (HTML): chk
@import "checkbox";

// <RADIO>
// Снипет (HTML): opt
@import "radio";

// <SELECT>
// Снипет (HTML): sel
// @import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
// @import "range";

// <CALENDAR>
// Снипет (HTML):
// @import "datepicker";
