//<FORM>
// Снипет (HTML):

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.span_all {
	grid-column: 1 / -1;
}

.form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: $white-clr;
	overflow: hidden;
	padding: rem(70);

	@media (max-width: $tablet) {
		padding: rem(60);
	}

	@media (max-width: em(900)) {
		padding: rem(40);
	}

	@media (max-width: $mobile) {
		padding: rem(20);
	}

	@include adaptiveValue("column-gap", 30, 20, 1920, 1024, 1);
	@include adaptiveValue("row-gap", 33, 30, 1024, 360, 1);
	@include adaptiveValue("border-radius", 50, 30, 1024, 360, 1);

	@media (max-width: em(600)) {
		grid-template-columns: 1fr;
	}

	@media (max-width: $mobile) {
		padding-bottom: rem(40);
	}

	&__group {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: rem(8);
	}

	&__label {
	}

	&__input,
	&__select,
	.select__title,
	&__textarea {
		color: $mainColor;
		background-color: $beige-100;
		border: 1px solid $beige-200;
		border-radius: rem(10);
		&:focus {
			outline: 1px solid $gray-300;
		}
	}

	&__input,
	.select__title {
		display: flex;
		align-items: center;

		@include adaptiveValue("padding", 20, 10, 1024, 360, 1);
		@include adaptiveValue("height", 68, 43, 1024, 360, 1);

		&::placeholder {
			@extend .p-normal;
			color: $gray-300;
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: $beige-200;
				cursor: pointer;
			}
		}
	}

	&__textarea {
		padding: rem(20);

		@include adaptiveValue("height", 152, 132, 1024, 360, 1);
	}

	&__bottom-block {
	}

	&__radio {
	}

	&__checkbox {
	}

	&__btns {
		display: flex;
		@include adaptiveValue("gap", 30, 10, 1024, 360, 1);
	}
}

//</FORM>

// <CHECK>
// Снипет (HTML): chk
@import "checkbox";

// <RADIO>
// Снипет (HTML): opt
@import "radio";

// <SELECT>
// Снипет (HTML): sel
@import "select";
