//========================================================================================================================================================
// TYPOGRAPHY

.h1 {
	font-weight: 700;
	line-height: 109%;
	letter-spacing: 0.02em;

	@include adaptiveValue("font-size", 96, 34, 1024, 360, 1);

	@media (max-width: $mobile) {
		line-height: 112%;
	}
}

.h2 {
	font-weight: 700;
	line-height: 124%;
	text-align: center;

	@include adaptiveValue("font-size", 59, 34, 1024, 360, 1);

	@media (max-width: $mobile) {
		line-height: 112%;
		letter-spacing: 0.02em;
	}
}

.h3 {
	font-weight: 500;
	line-height: 122%;

	@include adaptiveValue("font-size", 35, 23, 1024, 360, 1);

	@media (max-width: $mobile) {
		font-weight: 700;
		line-height: 120%;
		letter-spacing: 0.04em;
	}
}

.p-big {
	font-weight: 700;
	line-height: 122%;

	@include adaptiveValue("font-size", 23, 16, 1024, 360, 1);

	@media (max-width: $mobile) {
		line-height: 142%;
	}
}

.p-normal {
	font-weight: 400;
	line-height: 142%;

	@include adaptiveValue("font-size", 20, 16, 1024, 360, 1);
}

.p-small {
	font-weight: 400;
	line-height: 142%;
	letter-spacing: -0.01em;

	@include adaptiveValue("font-size", 17, 16, 1024, 360, 1);
}

.m-p-big,
.m-p-normal,
.m-p-small {
	font-size: rem(16);
	line-height: 142%;
}

.m-p-big {
	font-weight: 700;
}

.m-p-normal {
	font-weight: 400;
}

.m-p-small {
	font-weight: 400;
	letter-spacing: -0.01em;
}
//========================================================================================================================================================
// BUTTONS

.btn {
	&_findtour-hero {
		@extend .p-small;
		padding: rem(5) rem(20);
		border-radius: rem(10);
		color: $mainColor;
		background-color: $white-clr;
		transition: all 0.3s ease 0s;

		@include on-hover {
			color: $white-clr;
			background-color: $orange-200;

			&:active {
				color: $mainColor;
				background-color: $orange-100;
			}
		}
	}
}

.btn-form {
	@extend .p-normal;

	padding-top: rem(15);
	padding-bottom: rem(15);

	@include adaptiveValue("padding-left", 71, 30, 1024, 360, 1);
	@include adaptiveValue("padding-right", 71, 30, 1024, 360, 1);

	border-radius: rem(10);
	transition: all 0.3s ease 0s;
	cursor: pointer;

	&_submit {
		color: $white-clr;
		background-color: $green-400;

		@include on-hover {
			background-color: $green-300;
		}

		&:active {
			background-color: $green-200;
		}
	}

	&_reset {
		color: $green-400;
		background-color: $green-100;

		@include on-hover {
			background-color: $gray-100;
		}

		&:active {
			background-color: $gray-200;
		}
	}
}

//========================================================================================================================================================
// LINKS

.more-link {
	@extend .p-big;
	display: flex;
	align-items: center;
	padding: rem(7) rem(20);
	margin: rem(-7) rem(-20);
	border-radius: rem(50);
	cursor: pointer;
	color: $white-clr;
	transition: all 0.3s ease;
	z-index: 2;

	@media (max-width: $mobile) {
		font-size: rem(16);
		line-height: 142%;
		gap: rem(15);
	}

	&::after {
		content: "\e900";
		@extend %ic;
		position: relative;
		display: inline-block;
		margin-left: rem(15);
		font-size: rem(23);
		line-height: 122%;
	}

	@include on-hover {
		background-color: $green-400;

		&:active {
			background-color: $orange-200;
		}
	}
}

//
//========================================================================================================================================================
// SOCIAL ICONS
.social {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;

	@include adaptiveValue("gap", 35, 15, 1024, 360, 1);

	//.social__link
	&__link {
		@extend .p-normal;
		transition: all 0.3s ease 0s;

		@include on-hover {
			span {
				border-bottom: 1px solid $white-clr;
			}
		}

		&:active {
			color: $orange-200;

			span {
				border-bottom: 1px solid $orange-200;
			}
		}
	}
}

.social-with-icons {
	display: flex;
	justify-content: center;
	align-items: center;

	@include adaptiveValue("gap", 35, 15, 1024, 360, 1);

	//.social-with-icons__link
	&__link {
		@extend .p-normal;
		transition: all 0.3s ease 0s;
		display: flex;
		align-items: center;

		&::before {
			@extend .p-normal;
			@extend %ic;
			position: relative;
			display: inline-block;
			color: $gray-300;
			font-size: rem(26);

			@include adaptiveValue("margin-right", 10, 5, 1024, 360, 1);
		}

		span {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				bottom: 1px;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: transparent;
			}
		}

		@include on-hover {
			span {
				&::before {
					content: "";
					position: absolute;
					bottom: 1px;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: black;
				}
			}
		}

		&:active {
			color: $orange-200;

			span {
				&::before {
					background-color: $orange-200;
				}
			}
		}
	}
}
