//========================================================================================================================================================
// TYPOGRAPHY

.h1 {
	font-weight: 700;
	font-size: 96px;
	line-height: 109%;
	letter-spacing: 0.02em;

	@media (max-width: $mobile) {
		font-size: 34px;
		line-height: 112%;
	}
}

.h2 {
	font-weight: 700;
	font-size: 59px;
	line-height: 124%;
	text-align: center;

	@media (max-width: $mobile) {
		font-size: 34px;
		line-height: 112%;
		letter-spacing: 0.02em;
	}
}

.h3 {
	font-weight: 500;
	font-size: 35px;
	line-height: 122%;

	@media (max-width: $mobile) {
		font-weight: 700;
		font-size: 23px;
		line-height: 120%;
		letter-spacing: 0.04em;
	}
}

// .m-h1 {
// 	font-weight: 700;
// 	font-size: 34px;
// 	line-height: 112%;
// 	letter-spacing: 0.02em;
// }

// .m-h2 {
// 	font-weight: 700;
// 	font-size: 34px;
// 	line-height: 112%;
// 	letter-spacing: 0.02em;
// }

// .m-h3 {
// 	font-weight: 700;
// 	font-size: 23px;
// 	line-height: 120%;
// 	letter-spacing: 0.04em;
// }

//========================================================================================================================================================

.p-big {
	font-weight: 700;
	font-size: 23px;
	line-height: 122%;

	@media (max-width: $mobile) {
		font-size: 16px;
		line-height: 142%;
	}
}

.p-normal {
	font-weight: 400;
	font-size: 20px;
	line-height: 142%;

	@media (max-width: $mobile) {
		font-size: 16px;
	}
}

.p-small {
	font-weight: 400;
	font-size: 17px;
	line-height: 142%;
	letter-spacing: -0.01em;

	@media (max-width: $mobile) {
		font-size: 16px;
	}
}

// .m-p-big {
// 	font-weight: 700;
// 	font-size: 16px;
// 	line-height: 142%;
// }

// .m-p-normal {
// 	font-weight: 400;
// 	font-size: 16px;
// 	line-height: 142%;
// }

// .m-p-small {
// 	font-weight: 400;
// 	font-size: 16px;
// 	line-height: 142%;
// 	letter-spacing: -0.01em;
// }
//========================================================================================================================================================
// BUTTONS

.btn {
	&_findtour-hero {
		padding: 5px 20px;
		border-radius: 10px;
		font-size: 17px;
		line-height: 142%;
		letter-spacing: -0.01em;
		color: $mainColor;
		background-color: $white-clr;
		transition: all 0.3s ease 0s;

		&:hover {
			color: $white-clr;
			background-color: $orange-200;
		}

		&:active {
			color: $mainColor;
			background-color: $orange-100;
		}
	}
}

.btn-form {
	@extend .p-normal;
	padding: 15px 71px;
	border-radius: 10px;

	&_submit {
		color: $white-clr;
		background-color: $green-400;
		transition: all 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				background-color: $green-300;
			}
		}

		&:active {
			background-color: $green-200;
		}
	}

	&_reset {
		color: $green-400;
		background-color: $green-100;
		transition: all 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				background-color: $gray-100;
			}
		}

		&:active {
			background-color: $gray-200;
		}
	}
}

//========================================================================================================================================================
.more-link {
	@extend .p-big;
	display: inline-block;
	align-items: center;
	border-radius: 50px;
	color: $white-clr;
	cursor: pointer;
	transition: all 0.3s ease 0s;

	&::after {
		content: "\e900";
		@extend %ic;
		position: relative;
		display: inline-block;
		margin-left: 15px;
		top: 2px;
	}

	@media (any-hover: hover) {
		&:hover {
			padding: 7px 20px;
			margin: -7px -20px;
			background-color: $green-400;
		}

		&:active {
			background-color: $orange-200;
		}
	}
}

//
//========================================================================================================================================================

.social {
	display: flex;
	gap: 35px;

	&__link {
		@extend .p-normal;
		transition: all 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				span {
					text-decoration: underline;
				}
			}
		}

		&:active {
			color: $orange-200;
		}
	}
}
