.footer {
	background-color: $beige-200;

	//.footer__container
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include adaptiveValue("padding-top", 30, 20, 1024, 360, 1);
		@include adaptiveValue("padding-bottom", 30, 20, 1024, 360, 1);

		@media (max-width: $tablet-small) {
			flex-direction: column;
			justify-content: center;
			gap: rem(7);
		}
	}

	//.footer__block
	&__block {
	}

	// .footer__text
	&__text {
		display: block;
		color: $gray-300;
	}

	// .footer__social
	&__social {
	}
}
