.footer {
	background-color: $beige-200;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 0;

		@media (max-width: $mobile) {
			padding: 20px 0;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 7px;
		}
	}

	&__block {
	}

	// .footer__text
	&__text {
		display: block;
		color: $gray-300;
	}

	// .footer__social
	&__social {
	}
}
