.gallery {
	display: flex;
	flex-direction: column;
	gap: 30px;

	max-width: 1920px;
	margin: 0 auto;
	padding: 0 30px;

	&__row {
		display: flex;
	}

	&__row {
		display: flex;
		gap: 30px;
	}

	&__item {
	}
}

.gallery__img {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 50px;
	object-fit: cover;

	&_big {
		height: 300px;
	}

	@media (max-width: $mobile) {
		border-radius: 20px;
		padding: 9px;
	}
}
