.header {
	height: 88px;
	color: $white-clr;

	&._header-scroll {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		background: rgba(243, 239, 232, 0.6);
		backdrop-filter: blur(54px);
		z-index: 5;

		.header__container {
			color: $mainColor;
		}

		.menu-header__link {
			color: $mainColor;
		}

		.header__logo img {
			filter: brightness(0%);
		}
	}

	// .header__container
	&__container {
		padding: 29px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .header__logo
	&__logo {
		img {
			width: 100%;
		}

		@media (max-width: $mobile) {
			width: 133px;
			height: 22px;
		}
	}

	// .header__menu
	&__menu {
	}

	// .header__contacts
	&__contacts {
	}
}

.menu-header {
	color: $white-clr;

	@media (max-width: $mobile) {
		display: none;
	}

	// .menu-header__list
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 50px;

		@media (max-width: $tablet) {
			gap: 30px;
		}
	}

	// .menu-header__item
	&__item {
	}

	// .menu-header__link
	&__link {
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
