.header {
	height: 88px;
	color: $white-clr;

	// .header__container
	&__container {
		padding: 29px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .header__logo
	&__logo {
		img {
			width: 100%;
		}

		@media (max-width: $mobile) {
			width: 133px;
			height: 22px;
		}
	}

	// .header__menu
	&__menu {
	}

	// .header__contacts
	&__contacts {
	}
}

.menu-header {
	color: $white-clr;

	@media (max-width: $mobile) {
		display: none;
	}

	// .menu-top-header__list
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 50px;

		@media (max-width: $tablet) {
			gap: 30px;
		}
	}

	// .menu-top-header__item
	&__item {
	}

	// .menu-top-header__link
	&__link {
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
