//========================================================================================================================================================
// MAIN BLOCK for all sections, except HEADER, HERO, FOOTER

.main {
	background-color: $beige-100;

	&__block {
		@include adaptiveValue("margin-top", 135, 75, 1024, 360, 1);
		@include adaptiveValue("margin-bottom", 135, 75, 1024, 360, 1);
	}

	&__header {
		@include adaptiveValue("margin-bottom", 100, 40, 1024, 360, 1);

		.tour-choose & {
			@include adaptiveValue("margin-bottom", 100, 50, 1024, 360, 1);
		}
	}
}

.main-block-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__title {
		text-align: center;
		@include adaptiveValue("margin-bottom", 30, 20, 1024, 360, 1);

		.tour-choose & {
			@include adaptiveValue("margin-bottom", 35, 30, 1024, 360, 1);
		}
	}

	&__text {
		max-width: rem(418);
		text-align: center;
		color: $gray-300;
	}
}

.main-block-menu {

	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		@include adaptiveValue("gap", 30, 10, 1024, 360, 1);
	}

	&__link {
		&::after {
			content: "";
			display: block;
			margin-top: rem(3);
			border-bottom: rem(2) solid transparent;
			width: 100%;

			@media (max-width: $mobile) {
				margin-top: 0;
			}
		}

		@include on-hover {
			&::after {
				content: "";
				display: block;
				margin-top: rem(3);
				border-bottom: rem(2) solid $mainColor;
				width: 100%;

				@media (max-width: $mobile) {
					margin-top: 0;
				}
			}
		}

		&._active-link {
			color: $orange-200;

			&::after {
				content: "";
				display: block;
				margin-top: rem(3);
				border-bottom: rem(2) solid $orange-200;
				width: 100%;

				@media (max-width: $mobile) {
					margin-top: 0;
				}
			}

			@include on-hover {
				&::after {
					content: "";
					display: block;
					margin-top: rem(3);
					border-bottom: rem(2) solid $orange-200;
					width: 100%;

					@media (max-width: $mobile) {
						margin-top: 0;
					}
				}
			}
		}
	}
}

//========================================================================================================================================================
// HERO SECTION

.hero {
	background: url("@img/header/header-img.jpg") bottom / cover no-repeat;

	&__block {
		padding: rem(119) 0;

		@media (max-width: $mobile) {
			padding: rem(52) 0;
		}
	}
}

.block-hero {

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__title {
		text-align: center;
		color: $white-clr;
	}

	&__text {
		color: $white-clr;
		text-align: center;

		@include adaptiveValue("max-width", 562, 310, 1920, 360, 1);
		@include adaptiveValue("margin-top", 50, 40, 1920, 360, 1);
		@include adaptiveValue("margin-bottom", 50, 40, 1920, 360, 1);
	}
}

//========================================================================================================================================================
// CHOOSE TOUR BLOCK

.items-choose {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	@include adaptiveValue("gap", 30, 18, 1920, 1024, 1);

	@media (max-width: $tablet) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: $tablet-small) {
		grid-template-columns: 1fr;
	}
}

.card-choose {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: background-size 0.3s ease;
	color: $white-clr;
	background-position: bottom;
	background-size: 100%;
	background-repeat: no-repeat;

	@include adaptiveValue("padding", 50, 25, 1024, 360, 1);
	@include adaptiveValue("border-radius", 50, 20, 1024, 360, 1);
	@include adaptiveValue("min-height", 531, 318, 1024, 360, 1);

	@include on-hover {
		background-size: 120%;
	}

	&__title {
		@include adaptiveValue("margin-bottom", 16, 13, 1024, 360, 1);
	}

	&__link {
		align-self: flex-start;
	}

	&_1 {
		background-image: $card-gradient, url("@img/choose-tour/card-1.jpg");
	}

	&_2 {
		background-image: $card-gradient, url("@img/choose-tour/card-2.jpg");
	}

	&_3 {
		background-image: $card-gradient, url("@img/choose-tour/card-3.jpg");
	}

	&_4 {
		background-image: $card-gradient, url("@img/choose-tour/card-4.jpg");
	}

	&_5 {
		background-image: $card-gradient, url("@img/choose-tour/card-5.jpg");
	}

	&_6 {
		background-image: $card-gradient, url("@img/choose-tour/card-6.jpg");
	}
}

//====================================================================================================
// REVIEW TOUR

.tour-review {

	&__items {
		display: flex;
		justify-content: center;
		@include adaptiveValue("gap", 30, 18, 1024, 360, 1);

		@media (max-width: $tablet-small) {
			flex-direction: column;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 1 1 50%;
		background-color: $beige-200;

		@include adaptiveValue("padding", 40, 20, 1024, 360, 1);
		@include adaptiveValue("border-radius", 50, 20, 1024, 360, 1);
	}

	&__text {
		flex: 1;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		@include adaptiveValue("padding-top", 70, 40, 1024, 360, 1);
	}

	&__description {
		display: flex;
		flex-direction: column;
		gap: rem(8);
	}

	&__tour {
		color: $gray-300;
	}

	&__image-block {
		display: block;
		width: rem(75);
		height: rem(75);
	}

	&__image {
		width: 100%;
		height: 100%;
		border-radius: rem(100);
		object-fit: cover;
	}
}
//========================================================================================================================================================
// STORY BLOCK

.tour-story {

	&__body {
		display: flex;
		flex-direction: column;

		@include adaptiveValue("gap", 50, 20, 1024, 360, 1);
	}
}

.item-story {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	overflow: hidden;

	@include adaptiveValue("min-height", 567, 455, 1024, 360, 1);
	@include adaptiveValue("border-radius", 50, 20, 1024, 360, 1);
	@include adaptiveValue("padding", 60, 30, 1024, 360, 1);


	&::before {
		content: "";
		transition: all 0.3s ease 0s;
		background-size: cover;
		background-position: bottom;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	@include on-hover {
		&::before {
			transform: scale(1.2);
		}
	}

	&__body {
		z-index: 2;
	}

	&__title {
		color: $white-clr;
		margin-bottom: rem(37);
	}

	&__text {
		color: $white-clr;
		max-width: rem(554);
		margin-bottom: rem(30);

		@media (max-width: $mobile) {
			font-size: rem(16);
			line-height: 142%;
		}
	}


	&__list {
		position: relative;
		margin-top: rem(-10);
		margin-left: rem(32);
		flex: 1 1 auto;
		color: $white-clr;
	}


	&__item {
		list-style-type: disc;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__social {
		color: $white-clr;

		@media (max-width: $tablet-small) {
			display: none;
		}
	}

	&_1 {
		&::before {
			background-image: $story-gradient, url("@img/story-block/story_photo-1.jpg");
		}
	}

	&_2 {
		&::before {
			background-image: $story-gradient, url("@img/story-block/story_photo-2.jpg");
		}
	}

	&_3 {
		&::before {
			background-image: $story-gradient, url("@img/story-block/story_photo-3.jpg");
		}
	}
}

//========================================================================================================================================================
// FINAL BLOCK

.block-final {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: rem(30);

	@media (max-width: $tablet-small) {
		flex-direction: column;
		text-align: center;
	}

	&__img {
		@include adaptiveValue("max-width", 370, 130, 1024, 360, 1);

		img {
			border-radius: 50px;
			width: 100%;
			height: auto;
			object-fit: cover;

			@include adaptiveValue("border-radius", 50, 20, 1024, 360, 1);
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		gap: rem(20);

		@include adaptiveValue("max-width", 371, 291, 1024, 360, 1);

		@media (max-width: $mobile) {
			text-align: center;
		}
	}

	&__text {
		color: $gray-300;
	}

	&__link {
		color: $mainColor;

		@include on-hover {
			text-decoration: underline;
		}

		&:active {
			color: $green-400;
		}
	}
}
