//========================================================================================================================================================
// HERO SECTION

.hero {
	height: 831px;
	background: url("@img/header/header-img.jpg") center / cover no-repeat;

	@media (max-width: $mobile) {
		height: 488px;
	}

	&__block {
		padding: 119px 0;

		@media (max-width: $mobile) {
			padding: 52px 0;
		}
	}
}

.block-hero {
	// .block-hero__container
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	// .block-hero__title
	&__title {
		margin-bottom: 50px;
		text-align: center;
		color: $white-clr;

		@media (max-width: $mobile) {
			margin-bottom: 40px;
		}
	}

	// .block-hero__text
	&__text {
		max-width: 562px;
		margin-bottom: 50px;
		color: $white-clr;
		text-align: center;

		@media (max-width: $tablet) {
			max-width: 442px;
		}

		@media (max-width: $mobile) {
			max-width: 310px;
			margin-bottom: 40px;
		}
	}

	// .block-hero__btn
	&__btn {
	}
}

//====================================================================================================
// MAIN BLOCK

.main {
	&__block {
		padding: 135px 0 0 0;

		@media (max-width: $mobile) {
			padding: 75px 0 0 0;
		}
	}

	// .main__container
	&__container {
	}

	// .main__header
	&__header {
		margin-bottom: 100px;

		@media (max-width: $mobile) {
			margin-bottom: 50px;
		}
	}
}

.main-block-header {
	display: flex;
	flex-direction: column;
	align-items: center;

	// .main-block-header__title
	&__title {
		margin-bottom: 30px;
	}
	// .main-block-header__title .mb-35
	&__title.mb-35 {
		margin-bottom: 35px;
	}

	// .main-block-header__menu
	&__menu {
	}

	// .main-block-header__text
	&__text {
		text-align: center;
		color: $gray-300;
	}
}

.main-block-menu {
	// .main-block-menu__list
	&__list {
		display: flex;
		justify-content: center;
		gap: 30px;
		flex-wrap: wrap;

		@media (max-width: $mobile) {
			gap: 10px;
		}
	}

	// .main-block-menu__item
	&__item {
	}

	// .main-block-menu__link
	&__link {
		&::after {
			content: "";
			display: block;
			margin-top: 3px;
			border-bottom: 2px solid transparent;
			width: 100%;
		}

		@media (any-hover: hover) {
			&:hover {
				&::after {
					content: "";
					display: block;
					margin-top: 3px;
					border-bottom: 2px solid $mainColor;
					width: 100%;
				}
			}
		}

		&._active-link {
			color: $orange-200;

			&::after {
				content: "";
				display: block;
				margin-top: 3px;
				border-bottom: 2px solid $orange-200;
				width: 100%;
			}
		}
	}
}

//========================================================================================================================================================
// CHOOSE TOUR BLOCK

.tour-choose {
	// .tour-choose__items
	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;

		@media (max-width: $tablet) {
			grid-template-columns: repeat(2, 1fr);
			gap: 18px;
		}
	}

	// .tour-choose__card
	&__card {
	}
}

.card-choose {
	border-radius: 50px;
	height: 531px;
	transform: scale(1);
	transition: all 0.3s ease 0s;
	padding: 50px;
	display: flex;
	flex-direction: column;
	color: $white-clr;

	@media (any-hover: hover) {
		&:hover {
			transform: scale(1.2);
			z-index: 2;
		}
	}

	// .card-choose__title
	&__title {
		margin-bottom: 19px;
	}

	// .card-choose__price
	&__price {
		flex: 1;
	}

	// .card-choose__link
	&__link {
		align-self: flex-start;
	}

	&_1 {
		background: $card-gradient, url("@img/choose-tour/card-1.jpg") bottom / cover no-repeat;
	}
	&_2 {
		background: $card-gradient, url("@img/choose-tour/card-2.jpg") bottom / cover no-repeat;
	}
	&_3 {
		background: $card-gradient, url("@img/choose-tour/card-3.jpg") bottom / cover no-repeat;
	}
	&_4 {
		background: $card-gradient, url("@img/choose-tour/card-4.jpg") bottom / cover no-repeat;
	}
	&_5 {
		background: $card-gradient, url("@img/choose-tour/card-5.jpg") bottom / cover no-repeat;
	}
	&_6 {
		background: $card-gradient, url("@img/choose-tour/card-6.jpg") bottom / cover no-repeat;
	}
}

//====================================================================================================
// REVIEW TOUR

.tour-review {
	// .tour-review__items
	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 30px;
	}

	// .tour-review__item
	&__item {
		min-height: 673px;
		padding: 40px;
		display: flex;
		flex-direction: column;
		background-color: $beige-200;
		border-radius: 50px;
	}

	// .tour-review__text
	&__text {
		flex: 1 1 auto;
	}

	// .tour-review__footer
	&__footer {
		display: flex;
		justify-content: space-between;
		padding-top: 70px;
	}

	// .tour-review__description
	&__description {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	// .tour-review__name
	&__name {
	}

	// .tour-review__tour
	&__tour {
		color: $gray-300;
	}

	// .tour-review__image
	&__image {
		display: inline-block;
		width: 75px;
		height: 75px;
		border-radius: 100px;
	}
}
//========================================================================================================================================================
// STORY BLOCK

.tour-story {
	&-m_30 {
		@media (max-width: $tablet) {
			margin-top: -30px;
		}
	}

	// .tour-story__body
	&__body {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	// .tour-story__item
	&__item {
	}
}

.item-story {
	display: flex;
	flex-direction: column;
	height: 567px;
	border-radius: 50px;
	padding: 60px;
	transform: scale(1);
	transition: all 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			transform: scale(1.2);
			z-index: 2;
		}
	}

	// .item-story__title
	&__title {
		color: $white-clr;
		margin-bottom: 37px;
	}

	// .item-story__text
	&__text {
		color: $white-clr;
		max-width: 554px;
		margin-bottom: 30px;
	}

	// .item-story__list
	&__list {
		flex: 1 1 auto;
		color: $white-clr;
	}

	// .item-story__item
	&__item {
		margin-left: 15px;
		list-style-type: disc;
	}

	// .item-story__link
	&__link {
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__social {
		color: $white-clr;
	}

	&_1 {
		background: $story-gradient, url("@img/story-block/story_photo-1.jpg") center / cover no-repeat;
	}
	&_2 {
		background: $story-gradient, url("@img/story-block/story_photo-2.jpg") center / cover no-repeat;
	}
	&_3 {
		background: $story-gradient, url("@img/story-block/story_photo-3.jpg") center / cover no-repeat;
	}
}

//========================================================================================================================================================
// FINAL BLOCK

.block-final {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 30px;

	// .block-final__img
	&__img {
		justify-self: end;
		max-width: 370px;

		img {
			border-radius: 50px;
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}

	// .block-final__body
	&__body {
		max-width: 371px;
	}

	// .block-final__title
	&__title {
		margin-bottom: 20px;
	}

	// .block-final__text
	&__text {
		color: $gray-300;
	}

	// .block-final__link
	&__link {
		color: $mainColor;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}

		&:active {
			color: $green-400;
		}
	}
}
